.vs
Common_DLL/Intermediate
Common_DLL/Output
Common_Library_Linux/bin
Common_Library_Linux/obj
Common_Library_Linux/readme
Common_Library_Windows/Intermediate
Common_Library_Windows/Output
Form_DLL/Intermediate
Form_DLL/Output
Network_DLL/Intermediate
Network_DLL/Output
Network_Library_Windows/Intermediate
Network_Library_Windows/Output
Neural_Network_DLL/Intermediate
Neural_Network_DLL/Output
Neural_Network_Launcher_Linux/bin
Neural_Network_Launcher_Linux/obj
Neural_Network_Launcher_Linux/readme
Neural_Network_Launcher_Windows/Intermediate
Neural_Network_Launcher_Windows/Output
Neural_Network_Library_Linux/bin
Neural_Network_Library_Linux/obj
Neural_Network_Library_Linux/readme
Neural_Network_Library_Windows/Intermediate
Neural_Network_Library_Windows/Output